/********** Desktop ************/
.gallery_container{
    width: 100%;
    display:flex;
    position:relative;
    background: rgba(0,0,0,.9);
    border-radius: 25px;
    height : 223px;
}
.gallery_container_img{
    border-radius: 25px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 0;
    transition: width 250ms ease-in-out;
}


/********** Tablette **********/

@media (max-width: 992px){

}
  
/************* Mobile *******************/
@media (max-width: 768px){

    
}
