/********** Desktop ************/
.carousel {
    position: relative;
    width: 100%;
    height: 415px;
    margin: auto;
    margin-bottom: 30px;
}

.carousel_container {
    display: flex;
    transition: transform .5s ease;
    position: absolute;
    width: 100%;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
}

.carousel_img {
    width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}



.chevronLeft {
    width: 30px !important;
    height: auto !important;
    margin-left: 5px ;
    position: absolute;

}
.carousel_controls{
    display: flex;
}

.chevronRight {
    width: 30px !important;
    height: auto !important;
    margin-right: 5px ;
    position: absolute;
}
.carousel_Index{
    position: absolute;
    left: 49%;
    font-size: 18px;
    bottom: 5px;
    color: white;
}

/********** Tablette **********/

@media (max-width: 992px){

}
  
/************* Mobile *******************/
@media (max-width: 768px){
    

}

    

