.loading-data {
    color: #FF6060;
    font-size: x-large;
    font-weight: 500;
}
.loading_icon{
    border: 10px solid #FF6060;
	height: 50px;
	width: 50px;
	border-radius: 100px;
	border-bottom-color: transparent;
	-webkit-animation: loading 700ms linear infinite;
	        animation: loading 700ms linear infinite;
}